@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pissoff {
  background-color: rgb(59, 130, 246);
  background-image: radial-gradient(at 12% 88%, rgb(56, 189, 248) 0, transparent 58%), radial-gradient(at 50% 32%, rgb(30, 58, 138) 0, transparent 31%), radial-gradient(at 86% 59%, rgb(245, 245, 245) 0, transparent 98%), radial-gradient(at 68% 3%, rgb(21, 94, 117) 0, transparent 73%), radial-gradient(at 80% 41%, rgb(99, 102, 241) 0, transparent 15%), radial-gradient(at 1% 24%, rgb(45, 212, 191) 0, transparent 6%);
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
}

.robot:hover {
  filter: drop-shadow(2px 6px 12px #049ec450);
}